<amplify-authenticator [hideSignUp]="true">
  <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Hey Homie!</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <ngx-skeleton-loader
      *ngIf="!ledger"
      class="skeleton-container"
      count="2">
    </ngx-skeleton-loader>

    <div class="container" *ngIf="ledger">
      <mat-card class="ledger">
        <div class="toolbar">
          <span>Loans</span>

          <button mat-flat-button extended color="primary" (click)="requestLoan()">
            <mat-icon>add</mat-icon>
            Request a Loan
          </button>
        </div>

        <div class="stats">
          <div>
            <div class="label-toolbar">Unpaid Loans ({{unpaidLoans}})</div>
            <div class="value">${{ledger.stats.debt}}</div>
          </div>

          <div>
            <div class="label-toolbar">Overall Loans ({{ledger.loans.length}})</div>
            <div class="value">${{ledger.stats.lent}}</div>
          </div>
        </div>

        <div class="txs">
          <div *ngFor="let loan of ledger.loans" class="tx">
            <div class="header">
              <div>
                <div class="label">Loan Amount</div>
                <div class="value">${{loan.value}}</div>
              </div>
  
              <div>
                <div class="label">Loan Date</div>
                <div class="value">{{ loan.createTime | timePipe }}</div>
              </div>
            </div>

            <div style="margin-top: 2em;">
              <button mat-button *ngIf="!loan.paidOff" (click)="onPayOff(loan.id)">
                <mat-icon>payment</mat-icon>
                Pay Off
              </button>
              <button mat-button *ngIf="loan.paidOff" [disabled]="true">Paid off on {{loan.paidOffTime| timePipe }}</button>
            </div>
          </div>
        </div>
      </mat-card>

      <mat-card class="ledger">
        <div class="toolbar">
          <span>Gifts</span>

          <button mat-flat-button extended color="primary" (click)="addGift()" *ngIf="isSuperUser">
            <mat-icon>add</mat-icon>
            Add a Gift
          </button>
        </div>

        <div class="stats">
          <div>
            <div class="label-toolbar">Redeemable Gifts ({{unredeemedGifts}})</div>
            <div class="value">${{ledger.stats.redeemable}}</div>
          </div>

          <div>
            <div class="label-toolbar">Overall Gifts ({{ledger.gifts.length}})</div>
            <div class="value">${{ledger.stats.gifted}}</div>
          </div>
        </div>

        <div class="txs">
          <div *ngFor="let gift of ledger.gifts" class="tx">
            <div class="header">
              <div>
                <div class="label">Gift Amount</div>
                <div class="value">${{gift.value}}</div>
              </div>
  
              <div>
                <div class="label">Gift Date</div>
                <div class="value">{{ gift.createTime | timePipe }}</div>
              </div>
            </div>

            <div style="margin-top: 2em;">
              <button mat-button *ngIf="!gift.redeemed" (click)="onRedeem(gift.id)">
                <mat-icon>redeem</mat-icon>
                Redeem
              </button>
              <button mat-button *ngIf="gift.redeemed" [disabled]="true">Redeemed on {{ gift.redemptionTime | timePipe }}</button>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </ng-template>
</amplify-authenticator>