/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.skeleton-loader {
  width: unset !important;
}